page-about {
    html, body, .ion-app, .ion-content, .fixed-content, .content, .ion-page, .app-root {
        background-color: white !important;
      }

      .toolbar, .toolbar-title, .custom-toolbar, .toolbar-background, ion-icon {
        color: #fff;  
        background: #219653;
      }
}
