page-home {

    .scroll-content
    {
        // background: black;

        
    }

    .fab
    {
        background: transparent !important;
        box-shadow: none;
    }
    .snap
    {
        border: 4px solid white !important;
    }

    .content-pane
    {
        position: fixed;
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        display: flex;
        background-color: transparent;
    }
    
    .range-pane
    {
        position: absolute;
        z-index: 500;
        top: 0;
        left: 0;
        width: 30%;
        padding-left: 20px;
    }
    .take-picture
    {
        margin: auto;
        display: table;
    }

    
}
